!!!5
html
    head
        title devTab
        script(src="jquery.js")
        script(src="devTab.js")
        script

        style
            .dtab {
                width: 300px;
                margin-bottom: 50px;
            }

    body

        h4 no default
        #none.dtab
            .tab
                .title title two
                .content this is just some short one
            .tab
                .title title two tab 2
                .content waaaa
                    | nothing really new
                    | nothing really new
                    | nothing really new
                    | nothing really new
                    | nothing really new
                    | nothing really new
                    | nothing really new
                    | nothing really new
                    | nothing really new

        hr

        h4 slideX, width 130
        #set.dtab(data-width="130", data-fx="slideX")
            .tab
                .title title one
                .content this is just some long texts, nothing special
                        | with some joints texts, nothing special
                        | with some joints texts, nothing special
                        | with some joints texts, nothing special
                        | with some joints texts, nothing special
                        | with some joints texts, nothing special
                        | with some joints texts, nothing special
                        | ontent this is just some lon
                        | with some joints
            .tab
                .title title blah
                .content this is just some thing

            .tab
                .title title again
                .content this is just some thing
                    | nothing really new
                    | nothing really new
                    | nothing really new

        section(style="margin:10px; border: 2px solid #ddd")

            h4 fade, lock
            #fadeNlock.dtab(data-fx="fade", data-lock="true")
                .tab
                    .title title two
                    .content this is just some short one
                .tab
                    .title title two tab 2
                    .content waaaa
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new

            hr
            h4 fade
            #fade.dtab(data-fx="fade")
                .tab
                    .title title two
                    .content this is just some short one
                .tab
                    .title title two tab 2
                    .content waaaa
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
