!!!5
html
    head
        title devTab
        script(src="jquery.js")
        script(src="devTab.js")
        script

        style
            .dtab {
                width: 300px;
                margin-bottom: 50px;
            }

            .dtab .menu {
                border: 1px solid green
            }

            .dtab .active {
                color: orange
            }

            .dtab .disable {
                border: 1px solid grey
            }

    body

        h4 no default
        #none.dtab
            .tab
                .title title two
                .content this is just some short one
            .tab
                .title title two tab 2
                .content waaaa
                    | nothing really new
                    | nothing really new
                    | nothing really new
                    | nothing really new
                    | nothing really new
                    | nothing really new
                    | nothing really new
                    | nothing really new
                    | nothing really new

        hr

        h4 slideX, width 130
        #set.dtab(data-width="130", data-fx="slideX", data-nav="top", data-pager="true")
            .tab
                .title title one
                .content [1] this is just some long texts, nothing special
                        | with some joints texts, nothing special
                        | with some joints texts, nothing special
                        | with some joints texts, nothing special
                        | with some joints texts, nothing special
                        | with some joints texts, nothing special
                        | with some joints texts, nothing special
                        | ontent this is just some lon
                        | with some joints
            .tab
                .title title blah
                .content [2] this is just some thing

            .tab
                .title title again
                .content [3] this is just some thing
                    | nothing really new
                    | nothing really new
                    | nothing really new
            .tab
                .title title blah
                .content [2] this is just some thing


        section(style="margin:10px; border: 2px solid #ddd")

            h4 fade, lock, bot, nav
            #fadeNlock.dtab(data-fx="fade", data-lock="true", data-menu="bot", data-nav="true")
                .tab
                    .title title two
                    .content this is just some short one
                .tab
                    .title title two tab 2
                    .content waaaa
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new

            hr
            h4 fade, hover
            #fade.dtab(data-fx="fade", data-trigger="hover")
                .tab
                    .title title two
                    .content this is just some short one
                .tab
                    .title title two tab 2
                    .content waaaa
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new

            hr
            h4 slideY
           #fade.dtab(data-fx="slideY", data-nav="both")
                .tab
                    .title title one
                    .content this is just some short one
                .tab
                    .title title two tab 2
                    .content waaaa
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                        | nothing really new
                .tab
                    .title title three
                    .content this is just some short 
                        |one feawojfijwifj waoeijfioaw jf
                        |one feawojfijwifj waoeijfioaw jf
                        |one feawojfijwifj waoeijfioaw jf
